<!--form.vtl-->
<h1>Enter a dollar amount less than $8.20 and we'll give you REAL short change!</h1>
<form action='/changedisplay' method='get'>
  <div class="form-group">
    <label for="userAmount">Your moneys:</label>
    <input id="userAmount" name="userAmount" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Show me the monay!</button>
</form>
<!--form.vtl-->
